<main class='panel-outer'>
  <div class='instructions'>
    <h2>Simple Database Challenge</h2>
    <p>In the Simple Database problem, you'll implement an in-memory key/value
      database.</p>
    <h3>Guidelines</h3>
    <p>You have 30 minutes to work on the implementation. Get as far as you can
      and be prepared to briefly discuss your approach and how you would
      complete the exercise afterward in the final minutes.</p>
    <h3>Suggested Approach</h3>

    <p>Read through this document to understand the problem and the functions
      you will be implementing Start simple by implementing the Get/Set/Unset
      functionality, then move on to think about how a single transaction would
      work Ask questions (we're here to help and make this fun!)</p>
    <h3>Data Commands</h3>
    <p>The database accepts the following commands to operate on keys: SET name
      value – Set the variable name to the value value. For simplicity, value
      will be an integer. GET name – Returns the value of the variable name, or
      NULL if that variable is not set. UNSET name – Unset the variable name,
      making it just like that variable was never set.</p>

  </div>
  <div class='code'>
    {{!-- <CodeMirror @content='This is example' @onUpdate={{this.update}} /> --}}
  </div>
</main>