{{page-title 'Interview'}}
<div class='welcome'>
  <div class='logo'>
    <FlightIcon @name='hashicorp' @stretched={{true}} />
  </div>
  <h1>Pairing Interview</h1>
  <Signin @title="We're excited to pair with you!" />
</div>
{{outlet}}