@use 'tokens';
// @import '@hashicorp/design-system-components';

:root {
  --bg-color: var(--token-color-palette-neutral-100);
  --foreground-bg: var(--token-color-palette-neutral-0);
  --font-color: var(--token-color-foreground-primary);
  --code-bg: var(--token-color-surface-interactive-active);
}

[data-theme='dark'] {
  --bg-color: var(--token-color-palette-neutral-600);
  --foreground-bg: var(--token-color-palette-neutral-700);
  --font-color: var(--token-color-palette-neutral-0);
  --code-bg: var(--token-color-palette-neutral-500);
}
// Reset
* {
  margin: 0;
  color: var(--font-color);
  background-color: var(--bg-color);
  font-family: var(--token-typography-font-stack-text);
}

// Generic
input {
  padding: 1em;
  margin-bottom: 1em;
  &:focus {
    box-shadow: var(--token-focus-ring-box-shadow);
  }
}
code {
  font-family: var(--token-typography-font-stack-code);
  background-color: var(--code-bg);
}
.title {
  font-family: var(--token-typography-font-stack-display);
}
.box {
  display: block;
  background: var(--bg-color);
  box-shadow: var(--token-elevation-mid-box-shadow);
  padding: 2em;
  margin: 0 auto;
  max-width: 400px;
}

// Welcome page
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em;
}
.logo {
  width: 5em;
  height: 5em;
  margin: 50px auto 20px;
}

// Interview panel
.panel-outer {
  display: grid;
  height: 100vh;
  overflow: scroll;
  grid-template-columns: 1fr 1fr;
}
.instructions {
  margin: 2em;
  padding: 2em;
  box-shadow: var(--token-elevation-inset-box-shadow);
  background-color: var(--bg-color);
}
.code {
  margin: 2em;
  padding: 2em;
  background-color: var(--code-bg);
}
