@use 'tokens';
// @import '@hashicorp/design-system-components';

:root {
  --bg-color: var(--token-color-palette-neutral-50);
  --foreground-bg: var(--token-color-palette-neutral-0);
  --font-color: var(--token-color-foreground-primary);
  --code-bg: var(--token-color-surface-interactive-active);
  --nav-bg: var(--token-color-palette-neutral-0);
  --inactive-icon: var(--token-color-palette-neutral-400);
  --active-icon: var(--token-color-palette-purple-200);
}

[data-theme='dark'] {
  --bg-color: var(--token-color-palette-neutral-700);
  --foreground-bg: var(--token-color-palette-neutral-700);
  --font-color: var(--token-color-palette-neutral-200);
  --code-bg: var(--token-color-palette-neutral-700);
  --nav-bg: #000;
  --inactive-icon: var(--token-color-palette-neutral-500);
}
// Reset
body {
  margin: 0;
}
* {
  // margin: 0;
  color: var(--font-color);
  // background-color: var(--bg-color);
  font-family: var(--token-typography-font-stack-text);
  line-height: 1.4;
}
.main {
  // min-height: 100vh;
  // min-width: 100vw;
  height: 100%;
  width: 100%;
}
.background {
  background-color: var(--bg-color);
}
.foreground {
  background-color: var(--foreground-bg);
}
.navbar {
  display: flex;
  background-color: var(--nav-bg);
  justify-content: space-between;
  padding: 1em 2em;
  box-shadow: var(--token-elevation-mid-box-shadow);
  .left {
    display: flex;
    align-items: center;
  }
  .welcome-message {
    padding-left: 0.5em;
  }
}
.toggle {
  background: var(--bg-color);
  border: 1px solid var(--token-color-border-primary);
  border-radius: 30px;
  padding: 0.4em 0.6em;
}

// Generic
input {
  padding: 1em;
  margin-bottom: 1em;
  &:focus {
    box-shadow: var(--token-focus-ring-box-shadow);
  }
}
// TODO: Codemirror styling
// - monospace
pre,
code {
  font-family: var(--token-typography-font-stack-code);
  // background-color: var(--code-bg);
}

.title {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-family: var(--token-typography-font-stack-display);
}
.h1,
h1 {
  font-family: var(--token-typography-display-500-font-family);
  font-size: var(--token-typography-display-500-font-size);
  line-height: var(--token-typography-display-500-line-height);
}
.h2,
h2 {
  font-family: var(--token-typography-display-400-font-family);
  font-size: var(--token-typography-display-400-font-size);
  line-height: var(--token-typography-display-400-line-height);
}
.h3,
h3 {
  font-family: var(--token-typography-display-300-font-family);
  font-size: var(--token-typography-display-300-font-size);
  line-height: var(--token-typography-display-300-line-height);
}
.h4,
h4 {
  font-family: var(--token-typography-display-200-font-family);
  font-size: var(--token-typography-display-200-font-size);
  line-height: var(--token-typography-display-200-line-height);
}
.h5,
h5 {
  font-family: var(--token-typography-display-100-font-family);
  font-size: var(--token-typography-display-100-font-size);
  line-height: var(--token-typography-display-100-line-height);
}

.box {
  display: block;
  // background: var(--bg-color);
  box-shadow: var(--token-elevation-mid-box-shadow);
  padding: 2em;
  margin: 0 auto;
  max-width: 400px;
}

// Welcome page
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em;
}
.logo {
  width: 5em;
  height: 5em;
  margin: 50px auto 20px;
}

// Interview panel
.panel {
  display: grid;
  height: 100%;
  overflow: scroll;
  grid-template-columns: 1fr 1fr;
}
.instructions {
  margin: 2em;
  padding: 2em;
  box-shadow: var(--token-elevation-inset-box-shadow);
  // background-color: var(--bg-color);
}
.code {
  margin: 2em;
  padding: 2em;
  background-color: var(--code-bg);
}
